.header {
  display: flex;
  justify-content: space-around;
  padding: 4vh;
}

a:hover {
  cursor: pointer;
}

.mainTitle,
.slogan,
.gitUser {
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
}

